header {
    text-align: center;
    background-image:  linear-gradient(to right, orange, navy);
    color: white;
    padding: 15px;
}

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
  };
  
/* .weather-hr {
    margin-left: 0.5rem;
    width: 100%;
  } */

ul{
    list-style-type: none;
};

.fiveday{
    display: flex;
    flex-direction: column;
}

.card{
    display: inline-block;
    background-color: navy;
    color: white;
}

.high{
    background-color: red;
}

.medium{
    background-color: yellow;
}

.low{
    background-color: green;
}
.UV{
    width: fit-content;
    padding: 5px;
    border-radius: 25%;
}
